/* トップページ
   ========================================================================== */

/**
 * コメント
 */
.wrap {
	width: 100%;
	@mixin media-pc {
		width: 980px;
		margin: 0 auto;
	}
}
.ct-copy {
	@mixin clearfix;
	font-size: 2rem;
}
.main-flex {
	display: flex;
	&_m2 {
		padding: 20px;
	}
}
.main-flex_m1 {
	padding: 10px;
	@mixin opacity .6;
}
.fonttest {
	font-family: "Noto Sans Japanese", Meiryo;
	font-size: 1.8rem;
}

/* 個別ページフォーム */
.example-page-form {
	@mixin media-tab {
		display: flex;
	}
	.title {
		@mixin media-tab {
			flex: 0 0 100px; // 固定
		}
		.col-form-legend {
			@mixin media-tab {
				padding-top: 0;
			}
		}
	}
	.input {
		@mixin media-tab {
			flex: auto; // 1 1 auto
		}
	}
}
